.container{
  margin: 0 auto;
  background-color: #f5f5dc;
  max-width: 700px;
  overflow: auto;
}
body{
  background-color: #D3D3D3;
}
.column.one {
  width: 70%;
  float: left;
  overflow: auto;
  box-sizing: border-box;
}
.column.two {
  width: 30%;
  float: right;
}
a {
    color: red;
}
h3{
  text-transform: lowercase;
  padding-bottom: 2px;
  font: Georgia;
}
h2{
  padding-top: 0px;
  font-size: 24px;
  font-style: italic;
  font: Georgia;
}
h1{
  font: Georgia;
}
.epicurious{
  border-bottom: solid;
  border-color: #E8E8E8;
  padding-bottom: 20px;
}
.img.one{
  padding-top: 35px;
}
