.container{
  margin: 0 auto;
  background-color: #f5f5dc;
  max-width: 700px;
  overflow: auto;
}
body{
  background-color: #D3D3D3;
}
.column.one {
  width: 70%;
  float: left;
  overflow: auto;
  box-sizing: border-box;
}
.column.two {
  width: 30%;
  float: right;
}
